@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

body {
    background-color: rgb(127, 168, 184);
    font-family: "Mukta";
    overflow: hidden;
}

#nav-title {
    position: absolute;
    width: calc(100% - 20px);
    height: 30px;
    top: -20px;
    left: 22px;
    color: white;
    font-family: "Montserrat";
    font-weight: 900;
    font-size: 40px;
    text-align: left;
}

@media only screen and (max-width: 750px) {
    #nav-title {
        width: 100%;
        left: 0px;
        text-align: center;
    }
}

#main-btns-div {
    position: fixed;
    width: 400px;
    height: 55px;
    right: 5px;
    top: 5px;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 10px;
}

#main-btns-div > div {
    height: 55px;
    width: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}


#current-gen-wrapper > h5 {
    color: white;
    font-family: "Mukta";
    font-weight: 700;
    font-size: 16px;
    width: 85px;
    text-align: center;
    position: absolute;
    top: 25px;
    visibility: hidden;
}

#current-gen-wrapper:hover {
    cursor: default;
}

#current-gen-wrapper > div:hover + h5 {
    visibility: visible;
}


#current-gen-wrapper > div {
    height: 55px;
    width: 55px;
    border-radius: 8px;
}

#curr-gen-display {
    color: white;
    font-family: "Mukta";
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    position: relative;
    top: -32px;
}

#graveyard-div {
    border-radius: 8px;
}

#graveyard-div:hover {
    cursor: pointer;
}

#graveyard-div > img {
    height: 35px;
    width: 35px;
}

#nav-title:hover {
    cursor: default;
}

#new-tyke-btn {
    position: absolute;
    top: 70px;
    height: 90px;
    width: 90px;
    background-color: rgb(97, 135, 150);
    border-radius: 12px;
    left: calc(50% - 45px);
    background-image: linear-gradient(rgb(141, 213, 152), rgb(73, 164, 87));
}

#new-tyke-btn:hover {
    cursor: pointer;
}

#new-tyke-btn > h1 {
    position: absolute;
    font-size: 100px;
    color: white;
    font-family: "Montserrat";
    font-weight: 600;
    top: -83px;
    text-align: center;
    height: 100%;
    width: 100%;
}

#new-tyke-btn > h1:hover {
    cursor: pointer;
}

#tyke-grid {
    position: relative;
    width: calc(100vw - 50px);
    height: calc(100vh - 200px);
    left: 25px;
    top: 175px;
    background-color: rgb(97, 135, 150);
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 8px;

    display: grid;
    grid-template-columns: repeat(auto-fill, 230px);
    grid-template-rows: repeat(auto-fill, 230px);
    justify-items: center;
    justify-content: center;
}

#shade-div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 5;
}