
#new-tyke-menu-div {
    position: fixed;
    height: 190px;
    width: 350px;

    top: calc(50vh - 95px);
    left: calc(50vw - 175px);
    z-index: 3;

    border-radius: 8px;

    background-color: rgb(127, 168, 184);

    display: flex;
    justify-content: center;
    align-items: center;
}

#flags-div {
    height: min-content;
    width: 100%;
    position: relative;
    left: 0px;
    top: 0px;

}

.flag-row {
    position: relative;
    width: 100%;
    height: 55px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 10px 0px;
}

#flags-div > .flag-row > img {
    width: 80px;
    height: auto;
    border-radius: 2px;
    border: 0px solid rgba(5, 5, 10);
}

#flags-div > .flag-row > img:hover {
    cursor: pointer;
}