
#new-tyke-menu-div {
    position: absolute;
    height: 400px;
    width: 700px;

    top: calc(50% - 200px);
    left: calc(50vw - 350px);
    z-index: 3;

    background-color: green;
}

#flags-div {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: red;

    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-template-rows: repeat(auto-fill, 150px);
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#flags-div > img {
    width: 180px;
    height: auto;
}