@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;400;700&display=swap');

#tyke-panel {
    position: absolute;
    height: 600px;
    width: 400px;
    top: calc(50% - 300px);
    left: calc(50% - 200px);

    z-index: 8;
    background-color: rgb(50, 83, 96);
    border-radius: 8px;
    font-family: "Mukta";
    border: 5px solid white;
}

@media only screen and (max-width: 450px) {
    #tyke-panel {
        width: 300px;
        left: calc(50% - 150px);
        overflow-y: scroll;
        overflow-x: hidden;
    }
}

#tp-x-btn {
    position: absolute;
    height: 45px;
    width: 45px;
    left: 5px;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0);
    border: 0px;
    font-size: 40px;
    font-family: "Montserrat";
    font-weight: 600;
}

#tp-x-btn:hover {
    cursor: pointer;
}

#tp-name-label {
    position: relative;
    left: 0px;
    top: 20px;
    width: 100%;
    height: 50px;
    text-align: center;
    color: white;
    font-size: 32px;
    font-weight: 400;
}

#tp-name-label:hover {
    cursor: default;
}

#tp-flags-div {
    position: relative;
    left: 0px;
    top: -8px;
    width: 100%;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#tp-flags-div > img {
    height: 25px;
    width: auto;
}

#tp-info-div {
    margin-bottom: 40px;
    position: relative;
    top: -25px;
    width: 70%;
    left: 15%;
}

@media only screen and (max-width: 450px) {
    #tp-info-div {
        width: 90%;
        left: 5%;
    }
}

#tp-info-div > div {
    height: 22px;
    display: flex;
    margin: 10px;
}

#tp-info-div > div > *:hover {
    cursor: default;
}

.label {
    width: 35%;
    text-align: left;
    font-size: 15px;
    position: relative;
    color: rgb(155, 169, 179);
    font-weight: 400;
}
.value {
    width: 65%;
    text-align: right;
    font-size: 20px;
    top: -40%;
    position: relative;
    color: white;
}

@media only screen and (max-width: 450px) {
    .value {
        font-size: 16px;
        top: -18%;
    }
}

#tp-ethnicity-div {
    top: -10px;
    height: 180px;
    width: 100%;
    left: 0px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}


#tp-circle-div {
    border-radius: 50%;
    border: 3px solid white;
    background-color: goldenrod;
    height: 180px;
    width: 180px;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    animation-name: spin;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 

}

#tp-circle-div-filler {
    border-radius: 50%;
    border: 3px solid white;
    background-color: rgb(50, 83, 96);
    height: 100px;
    width: 100px;
    position: relative;
}

#tp-key-div {
    height: 180px;
    width: 130px;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;

}

.key-label {
    width: 100%;
    height: 40px;
    margin-bottom: -25px;
    margin-top: -25px;
}

.key-label > *:hover {
    cursor: default;
}

.key-label > div {
    height: 20px;
}

.key-label > div > h5 {
    font-size: 18px;
    color: white;
}


.key-label > div > img {
    height: 20px;
    width: auto;
    position: relative;
    top: -50px;
    float: right;
}

.key-label > h5 {
    position: relative;
    width: calc(100% - 10px);
    top: -20px;
    left: 10px;
}

#tp-buttons-div {
    width: 100%;
    height: 50px;
    top: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

#tp-buttons-div > button {
    height: 40px;
    width: 100px;
    border: 0px;
    border-radius: 8px;
    color: white;
    font-family: inherit;
    font-size: 22px;
}

@media only screen and (max-width: 450px) {
    #tp-buttons-div > button {
        width: 85px;
    }

    #tp-circle-div {
        height: 140px;
        width: 140px;
        left: 10px;
    }

    #tp-circle-div-filler {
        height: 80px;
        width: 80px;
    }

    .key-label > div > img {
        right: 5px;
    }
}

#tp-buttons-div > button:hover {
    cursor: pointer;
}

#rename-btn {
    background-image: linear-gradient(rgb(232, 216, 126), rgb(230, 201, 58));
}

#breed-btn {
    background-image: linear-gradient(0.6turn, rgb(230, 166, 215), rgb(102, 162, 217));
}

#star-btn {
    background-image: linear-gradient(rgb(223, 154, 111), rgb(220, 122, 62));
}

#rename-panel {
    position: absolute;
    z-index: 5;
    background-color: rgb(127, 168, 184);
    border: 5px solid white;
    border-radius: 8px;
    
    height: 220px;
    width: 260px;
    top: calc(50% - 100px);
    left: calc(50% - 125px);
}

#rename-x-btn {
    position: relative;
    height: 35px;
    width: 35px;
    left: 0px;
    top: -3px;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0);
    border: 0px;
    font-size: 30px;
    font-family: "Montserrat";
    font-weight: 600;
}

#rename-x-btn:hover {
    cursor: pointer;
}

#rename-panel > h3 {
    color: white;
    position: relative;
    margin-bottom: -30px;
    top: -25px;
    left: 15px;
    font-size: 20px;
}

#rename-panel > input {
    position: relative;
    font-family: inherit;
    font-size: 18px;
    color: white;
    padding: 5px;
    background-color: rgb(97, 135, 150);
    border: 0px;
    border-radius: 3px;
    height: 25px;
    width: 240px;
    left: 5px;
    margin-bottom: 15px;
}

#rename-save-btn {
    height: 35px;
    width: 75px;
    border: 0px;
    border-radius: 8px;
    color: white;
    font-family: inherit;
    font-size: 20px;
    position: relative;
    left: calc(50% - 37.5px);
    top: -8px;
    line-height: 20px;
    background-image: linear-gradient(rgb(141, 213, 152), rgb(73, 164, 87));
}

#rename-save-btn:hover {
    cursor: pointer;
}